<div>
  <div style="text-align: center">
    <a [routerLink]="['/create']" class="btn btn-outline-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus"
           viewBox="0 0 16 16">
        <path
          d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        <path fill-rule="evenodd"
              d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
      </svg>
      Create</a>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
    <tr style="margin: 0px">
      <th>No</th>
      <th>Code Medical</th>
      <th>Code Patient</th>
      <th>Patient Name</th>
      <th>Day Start</th>
      <th>Day End</th>
      <th>Reason</th>
      <th>Method</th>
      <th>Doctor</th>
      <th colspan="2">Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients | paginate:{itemsPerPage: 4, currentPage: p}; index as i">
      <th scope="row"> {{(i + 1) + 4 * (p - 1)}}</th>
      <td>{{patient.codePatient}}</td>
      <td>{{patient.codePatient}}</td>
      <td>{{patient.namePeoplePatient}}</td>
      <td>{{patient.dayStart}}</td>
      <td>{{patient.dayEnd}}</td>
      <td>{{patient.reason}}</td>
      <td>{{patient.method}}</td>
      <td>{{patient.doctor}}</td>
      <td>
        <button type="button" class="btn btn-warning" [routerLink]="['/edit',patient.id]">Edit</button>
      </td>
      <td>
        <button type="button" style="color: black" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#delete"
                (click)="openDelete(patient.id,patient.medicalFileCode)">
          Xoa
        </button>
      </td>
      <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Medical File</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: red">
              Do You Want Delete   {{medicalFileCode}} ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                Cancel
              </button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </tr>
    </tbody>
  </table>
  <div class="container navigation" style="display: flex;justify-content: center;margin-top: 10px">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
